@tailwind base;
@tailwind components;
@tailwind utilities;

.smooth {
  @apply transition-all duration-200 ease-in-out 
}

.paraf{
  @apply text-slate-600 leading-[2rem]
}

.flex-center{
  @apply flex items-center 
}

.gradient-bg::after{
  content: "";
  height: 100%;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,9,219,0.1195071778711485) 0%, rgba(255,255,255,0) 69%);
  position: absolute;
  top: 20;
  right: 0;
  z-index: -10;
  @apply w-full md:w-[50%]
}

.gradient-bg::before{
  content: "";
  height: 100%;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,9,219,0.1195071778711485) 0%, rgba(255,255,255,0) 69%);
  position: absolute;
  left: 0;
  z-index: -10;
  @apply w-full md:w-[50%] md:top-0 top-[50]
}